/*
 * Tweaks and overrides to poole.css
 */

pre {
  padding: 0
}

/* custom rob stuff */
/* Make content wider */
.content {
  max-width: 1124px;
}

div.sidebar-about h1 {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}