/*
 * Tweaks and overrides to poole.css
 */

pre {
  padding: 0
}

/* custom rob stuff */
/* Make content wider */
.content {
  max-width: 1124px;
}

div.sidebar-about h1 {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

div.rob p
{
  color: #9a9a9a
}
h1 {
  color: #FF6600;
}
h2,h3 {
  color: #515151;
}

div.post h2, div.post h3 {
  border-bottom: 1px solid #C2C2C2;
}

.theme-base-rob .sidebar {
  background-color: #878686;
}
.theme-base-rob .content a,
.theme-base-rob .related-posts li a:hover {
  color: #FF6600;
}
.theme-base-rob .label {
  background-color: #878686;
}

.theme-base-rob .content a.label {
  color: #fff;
}